src/datapane/resources/report_def/full_schema.rnc

# This schema currently covers all report states - eventually to be split out to handle all substates
# (want to delay splitting out as long as possible for simplicities sake)
# NOTE - the .rng file is autogenerated using the `trang` java tool
# run `java -jar /path/to/trang.jar full_schema.rnc full_schema.rng`
#default namespace = "https://datapane.com/report"

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

start = element Report {
  attribute xml:id { xsd:ID },
  # unsignedByte ?
  attribute version { xsd:positiveInteger },
  Meta, Main
}

################################################################################
# Metadata fields
# we extract these into the Report DB fields for quick lookup
Meta = element Meta {
  element Author { xsd:string { minLength = "1" maxLength = "127" } } &
  element CreatedOn { xsd:dateTime } &
  element Title { xsd:string { minLength = "1" maxLength = "127" } } &
  element Description { xsd:string { maxLength = "10240" } }
}


################################################################################
# Main Report Tree
Main = element Main {
  Page+,
  attribute type { string "dashboard" | string "report" | string "article" }
  # attribute full_width { xsd:boolean },
}

# name always present, can be user-defined but auto-generated if not - used for exporting and asset lookup
block_name = attribute name { xsd:ID }
block_label = attribute label { xsd:string { minLength = "1" } }
block_label_name = block_name, block_label?


# Pages don't have id's or name's - as can't be extracted to be displayed elsewhere
Page = element Page {
  block_label?, LayoutBlock+
}

LayoutBlock = Group | Select

Select = element Select {
  block_label_name,
  attribute type { string "dropdown" | string "tabs" }?,
  Block, Block+  # at least 2 block elements in a Select
}

Group = element Group {
  block_label_name,
  attribute rows { xsd:nonNegativeInteger },
  attribute columns { xsd:nonNegativeInteger },
  Block+
}

Block = LayoutBlock | DataBlock

DataBlock = EmbeddedTextBlock | AssetBlock | BigNumber

EmbeddedTextBlock = Text | HTML | Code | Embed | Formula

AssetBlock = File | Plot | Table | DataTable


################################################################################
# misc
opt_caption = attribute caption { xsd:string { minLength = "1" maxLength = "512" } }?


################################################################################
# EmbeddedTextBlocks
# Markdown Text
Text = element Text {
  block_label_name,
  xsd:string { minLength = "1" pattern = "(.|\s)*\S(.|\s)*" }
}

HTML = element HTML {
  block_label_name,
  xsd:string { minLength = "1" }
}

Code = element Code {
  block_label_name,
  attribute language { xsd:string { minLength = "1" maxLength = "127" } },
  opt_caption,
  xsd:string { minLength = "1" }
}

Embed = element Embed {
  block_label_name,
  attribute url { xsd:anyURI },
  attribute title { xsd:string { minLength = "1" maxLength = "255" } },
  attribute provider_name { xsd:string { minLength = "1" maxLength = "127" } },
  xsd:string { minLength = "1" }
}

BigNumber = element BigNumber {
  block_label_name,
  attribute heading { xsd:string { minLength = "1" maxLength = "127" } },
  attribute value { xsd:string { minLength = "1" maxLength = "127" } },

  # optional attributes
  attribute change { xsd:string { minLength = "1" maxLength = "127" } }?,
  attribute prev_value { xsd:string { minLength = "1" maxLength = "127" } }?,
  attribute is_positive_intent { xsd:boolean }?,
  attribute is_upward_change { xsd:boolean }?
}

Formula = element Formula {
  block_label_name,
  opt_caption,
  xsd:string { minLength = "1" }
}

################################################################################
# AssetBlocks
assetAttributes =
  block_label_name,
  # TODO - should attachment be it's own attribute?
  attribute src { xsd:anyURI { pattern = "((http|https|cas|file|data|attachment):|/).+"} },
  attribute cas_ref { xsd:string { pattern = "[0-9a-f]{64}" } } ?,

  attribute type { xsd:string { pattern = '\w+/[\w.+\-]+' } },
  attribute size { xsd:positiveInteger },
  opt_caption

File = element File {
  assetAttributes,

  attribute filename { xsd:string { minLength = "1" maxLength = "127" } }
  }

Plot = element Plot {
  assetAttributes,
  attribute width { xsd:positiveInteger },
  attribute height { xsd:positiveInteger },

  [ a:defaultValue = "true" ]
  attribute responsive { xsd:boolean}
}

Table = element Table {
  assetAttributes
}

DataTable = element DataTable {
  assetAttributes,
  attribute rows { xsd:positiveInteger },
  attribute columns { xsd:positiveInteger }
  # attribute cells { xsd:positiveInteger }
}
